@import url('./partials/level-tracker.css');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    min-height: 100vh;
}

body {
    background: linear-gradient(rgb(168, 86, 86), #fff);
    padding: 0;
    margin: 0;
}

.main {
    min-height: 100vh;

    &-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.buttons {
    &-wrapper {
        height: fit-content;
        padding: 20px 40px;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;

        &:first-child {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
}

.button {
    border: 3px solid #fff;
    font-size: 28px;
    padding: 20px 40px;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;

    &.primary {
        width: fit-content;
        background: linear-gradient(#5a32ec, #4805e6);
        font-size: 48px;

        &:active {
            background: linear-gradient(#4805e6, #5a32ec );
        }
    }

    &.secondary {
        background: linear-gradient(#fbff00, #dbc713);

        &:active {
            background: linear-gradient(#dbc713, #fbff00);
        }
    }
}

.play-ground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.display {
    align-self: center;
    justify-self: center;
}

.wallet {
    * {
        font-size: 72px;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }

    span {
        color: yellow;
        text-shadow: 2px 2px 5px #000;
    }
}

.asset-price {
    font-size: 48px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
    margin: 10px auto;
    user-select: none;
}

.inventory {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    &-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 24px;
        &-item {
        }
    }

    &-sell {
        color: #fff;
        text-shadow: 1px 1px 3px #000;
        font-size: 16px;
        border: 1px solid #FFF;
        background: linear-gradient(#ff0000, #b60404);
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;

        &:active {
            background: linear-gradient(#b60404, #ff0000);
        }
    }
}
