<div class="error-message hidden">
    <div class="error-message-header">
        <h3 class="error-message-title">Something wen't wrong...</h3>
        <div class="error-message-close">
            X
        </div>
    </div>
    <div class="error-message-body">
        <p class="error-message-description"><%= locals.message || 'Try again later...' %></p>
    </div>
</div>