<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="./css/clicker.css" />
	<script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
	<script src="/js/sockets/bundle.js" type="module"></script>
	<script src="/js/clicker-game.js" defer></script>
</head>

<body>
	<main class="main">
		<%- include('./partials/inventory'); %>
		<div class="main-container">
			<div class="buttons-wrapper">
				<div class="buttons-container button-container--secondary">
					<% priceList.forEach(function({name, price}) { %>
						<div>
							<button id="buyFarmer" data-name="<%= name %>" data-event="buyAsset" class="button secondary">Buy <%= name %> (<span>0</span>)</button>
							<p class="asset-price"><%= price %></p>
						</div>
					<% }) %>
				</div>
				<div class="buttons-container button-container--primary">
					<button id="manualButton" class="button primary">Get coin (+1)</button>
				</div>
			</div>
			<div class="play-ground">
				<div class="display">
					<div class="wallet">
						<h3><span id="coin-total"></span> coins</h3>
					</div>
					<div class="assets"></div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>